nifi/template/IGDB_API_Data_Extractor.json
{"flowContents":{"identifier":"c2a9d700-61b8-3501-9254-a57082bb7425","instanceIdentifier":"22d88bf1-019d-1000-eeb6-2ccff2b1e587","name":"IGDB_API_Data_Extractor","comments":"","position":{"x":-170.0,"y":-72.5},"processGroups":[{"identifier":"dc2297c9-9513-3b33-ae8f-079e68a2085c","instanceIdentifier":"db53bd29-20a1-30a4-b1a4-9ab6f7655fb8","name":"Filter endpoints to pre processing","comments":"","position":{"x":1360.0,"y":1544.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"63c9f765-2e53-3126-8241-8dcf2aebf1a1","instanceIdentifier":"22dbe699-019d-1000-e2e7-5aabc7b7781e","name":"JoltTransformJSON","comments":"","position":{"x":608.0,"y":472.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.8.0"},"properties":{"JSON Source":"FLOW_FILE","Jolt Transform":"jolt-transform-chain","JSON Source Attribute":null,"Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"modify-overwrite-beta\",\n    \"spec\": {\n      \"*\": {\n        \"date\": \"=toString\"\n      }\n    }\n  }\n]"},"propertyDescriptors":{"JSON Source":{"name":"JSON Source","displayName":"JSON Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Source Attribute":{"name":"JSON Source Attribute","displayName":"JSON Source Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"dc2297c9-9513-3b33-ae8f-079e68a2085c"},{"identifier":"22dec309-019d-1000-ecc6-5dbcfe14f2b8","instanceIdentifier":"fd10f39e-2a4a-3484-7f08-44f110088eeb","name":"JoltTransformJSON","comments":"","position":{"x":608.0,"y":832.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.8.0"},"properties":{"JSON Source":"FLOW_FILE","Jolt Transform":"jolt-transform-chain","JSON Source Attribute":null,"Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"modify-overwrite-beta\",\n    \"spec\": {\n      \"*\": {\n        \"first_release_date\": \"=toString\"\n      }\n    }\n  }\n]"},"propertyDescriptors":{"JSON Source":{"name":"JSON Source","displayName":"JSON Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Source Attribute":{"name":"JSON Source Attribute","displayName":"JSON Source Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"dc2297c9-9513-3b33-ae8f-079e68a2085c"},{"identifier":"63eb0121-b39b-3904-ab81-83a2d6e28c50","instanceIdentifier":"b1235dc0-5697-371e-1907-e8e49510cfac","name":"RouteOnAttribute","comments":"","position":{"x":1256.0,"y":224.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"is_games":"${endpoint_name:equals('games')}","Routing Strategy":"Route to Property name","is_release_dates":"${endpoint_name:equals('release_dates')}","is_companies":"${endpoint_name:equals('companies')}","is_search":"${endpoint_name:equals('search')}"},"propertyDescriptors":{"is_games":{"name":"is_games","displayName":"is_games","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"is_release_dates":{"name":"is_release_dates","displayName":"is_release_dates","identifiesControllerService":false,"sensitive":false,"dynamic":true},"is_companies":{"name":"is_companies","displayName":"is_companies","identifiesControllerService":false,"sensitive":false,"dynamic":true},"is_search":{"name":"is_search","displayName":"is_search","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"dc2297c9-9513-3b33-ae8f-079e68a2085c"},{"identifier":"22e063ca-019d-1000-8835-c2e7b47eecb4","instanceIdentifier":"bb619523-8c24-3020-3e36-4cc155d60572","name":"JoltTransformJSON","comments":"","position":{"x":2008.0,"y":832.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.8.0"},"properties":{"JSON Source":"FLOW_FILE","Jolt Transform":"jolt-transform-chain","JSON Source Attribute":null,"Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"modify-overwrite-beta\",\n    \"spec\": {\n      \"*\": {\n        \"start_date\": \"=toString\",\n        \"change_date\": \"=toString\"\n      }\n    }\n  }\n]"},"propertyDescriptors":{"JSON Source":{"name":"JSON Source","displayName":"JSON Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Source Attribute":{"name":"JSON Source Attribute","displayName":"JSON Source Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"dc2297c9-9513-3b33-ae8f-079e68a2085c"},{"identifier":"22dfcdb0-019d-1000-588a-85984e5f89b8","instanceIdentifier":"cfdf2982-1aad-3406-6f12-03cd26bbbd75","name":"JoltTransformJSON","comments":"","position":{"x":2000.0,"y":456.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.8.0"},"properties":{"JSON Source":"FLOW_FILE","Jolt Transform":"jolt-transform-chain","JSON Source Attribute":null,"Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"modify-overwrite-beta\",\n    \"spec\": {\n      \"*\": {\n        \"published_at\": \"=toString\"\n      }\n    }\n  }\n]"},"propertyDescriptors":{"JSON Source":{"name":"JSON Source","displayName":"JSON Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Source Attribute":{"name":"JSON Source Attribute","displayName":"JSON Source Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"dc2297c9-9513-3b33-ae8f-079e68a2085c"}],"inputPorts":[{"identifier":"cd792119-0ad6-3f1a-aa77-022ffe7e1aeb","instanceIdentifier":"58b48d14-97d7-3938-041a-95e509f2f9dd","name":"Input","position":{"x":560.0,"y":256.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"dc2297c9-9513-3b33-ae8f-079e68a2085c"}],"outputPorts":[{"identifier":"4d5bd8b3-ac30-3a70-920f-a52ba76efb56","instanceIdentifier":"39afc7f1-86a1-3d4e-d004-dfc4d2874f24","name":"Output","position":{"x":1328.0,"y":1208.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"dc2297c9-9513-3b33-ae8f-079e68a2085c"}],"connections":[{"identifier":"01eabea9-c4c7-3b9f-b9cc-a8ab8a8d2da6","instanceIdentifier":"96e12f52-39e4-3f20-9a5e-b13532f9c696","name":"","source":{"id":"63eb0121-b39b-3904-ab81-83a2d6e28c50","type":"PROCESSOR","groupId":"dc2297c9-9513-3b33-ae8f-079e68a2085c","name":"RouteOnAttribute","comments":"","instanceIdentifier":"b1235dc0-5697-371e-1907-e8e49510cfac"},"destination":{"id":"53251ec4-c1e0-3420-9d59-8afa68d8a536","type":"FUNNEL","groupId":"dc2297c9-9513-3b33-ae8f-079e68a2085c","name":"Funnel","comments":"","instanceIdentifier":"d8dc9ebc-4731-3f5a-d5c5-49acdffd6f74"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dc2297c9-9513-3b33-ae8f-079e68a2085c"},{"identifier":"daa3721f-a115-345a-ae08-f509ffbb1bbf","instanceIdentifier":"b4676d60-c261-3d0c-b15d-2a78f00a9a05","name":"","source":{"id":"53251ec4-c1e0-3420-9d59-8afa68d8a536","type":"FUNNEL","groupId":"dc2297c9-9513-3b33-ae8f-079e68a2085c","name":"Funnel","comments":"","instanceIdentifier":"d8dc9ebc-4731-3f5a-d5c5-49acdffd6f74"},"destination":{"id":"4d5bd8b3-ac30-3a70-920f-a52ba76efb56","type":"OUTPUT_PORT","groupId":"dc2297c9-9513-3b33-ae8f-079e68a2085c","name":"Output","instanceIdentifier":"39afc7f1-86a1-3d4e-d004-dfc4d2874f24"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dc2297c9-9513-3b33-ae8f-079e68a2085c"},{"identifier":"4206250d-765c-31ac-b58a-3e1f4283c89b","instanceIdentifier":"99294a50-3a98-3b9e-1425-857f013048dd","name":"","source":{"id":"cd792119-0ad6-3f1a-aa77-022ffe7e1aeb","type":"INPUT_PORT","groupId":"dc2297c9-9513-3b33-ae8f-079e68a2085c","name":"Input","instanceIdentifier":"58b48d14-97d7-3938-041a-95e509f2f9dd"},"destination":{"id":"63eb0121-b39b-3904-ab81-83a2d6e28c50","type":"PROCESSOR","groupId":"dc2297c9-9513-3b33-ae8f-079e68a2085c","name":"RouteOnAttribute","comments":"","instanceIdentifier":"b1235dc0-5697-371e-1907-e8e49510cfac"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dc2297c9-9513-3b33-ae8f-079e68a2085c"},{"identifier":"eba7399c-d1fd-373e-96af-5c82d4309574","instanceIdentifier":"22e0cbbc-019d-1000-6454-c5d1e6e7e137","name":"","source":{"id":"22e063ca-019d-1000-8835-c2e7b47eecb4","type":"PROCESSOR","groupId":"dc2297c9-9513-3b33-ae8f-079e68a2085c","name":"JoltTransformJSON","comments":"","instanceIdentifier":"bb619523-8c24-3020-3e36-4cc155d60572"},"destination":{"id":"53251ec4-c1e0-3420-9d59-8afa68d8a536","type":"FUNNEL","groupId":"dc2297c9-9513-3b33-ae8f-079e68a2085c","name":"Funnel","comments":"","instanceIdentifier":"d8dc9ebc-4731-3f5a-d5c5-49acdffd6f74"},"labelIndex":0,"zIndex":8,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dc2297c9-9513-3b33-ae8f-079e68a2085c"},{"identifier":"6a7b8e4d-55b8-3102-baa6-ef0fa532f195","instanceIdentifier":"22e003cc-019d-1000-42f5-c3c214d29ed8","name":"","source":{"id":"63eb0121-b39b-3904-ab81-83a2d6e28c50","type":"PROCESSOR","groupId":"dc2297c9-9513-3b33-ae8f-079e68a2085c","name":"RouteOnAttribute","comments":"","instanceIdentifier":"b1235dc0-5697-371e-1907-e8e49510cfac"},"destination":{"id":"22dfcdb0-019d-1000-588a-85984e5f89b8","type":"PROCESSOR","groupId":"dc2297c9-9513-3b33-ae8f-079e68a2085c","name":"JoltTransformJSON","comments":"","instanceIdentifier":"cfdf2982-1aad-3406-6f12-03cd26bbbd75"},"labelIndex":0,"zIndex":6,"selectedRelationships":["is_search"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dc2297c9-9513-3b33-ae8f-079e68a2085c"},{"identifier":"337ba98c-19e4-3a34-bf4c-7f608bb375db","instanceIdentifier":"22de3ca3-019d-1000-87ef-5a6a2c69f853","name":"","source":{"id":"63eb0121-b39b-3904-ab81-83a2d6e28c50","type":"PROCESSOR","groupId":"dc2297c9-9513-3b33-ae8f-079e68a2085c","name":"RouteOnAttribute","comments":"","instanceIdentifier":"b1235dc0-5697-371e-1907-e8e49510cfac"},"destination":{"id":"63c9f765-2e53-3126-8241-8dcf2aebf1a1","type":"PROCESSOR","groupId":"dc2297c9-9513-3b33-ae8f-079e68a2085c","name":"JoltTransformJSON","comments":"","instanceIdentifier":"22dbe699-019d-1000-e2e7-5aabc7b7781e"},"labelIndex":0,"zIndex":1,"selectedRelationships":["is_release_dates"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dc2297c9-9513-3b33-ae8f-079e68a2085c"},{"identifier":"b6b1f2d7-d98d-3542-b5e5-ce0e050ce207","instanceIdentifier":"22df07ec-019d-1000-da1a-2ccc8c50a7c1","name":"","source":{"id":"22dec309-019d-1000-ecc6-5dbcfe14f2b8","type":"PROCESSOR","groupId":"dc2297c9-9513-3b33-ae8f-079e68a2085c","name":"JoltTransformJSON","comments":"","instanceIdentifier":"fd10f39e-2a4a-3484-7f08-44f110088eeb"},"destination":{"id":"53251ec4-c1e0-3420-9d59-8afa68d8a536","type":"FUNNEL","groupId":"dc2297c9-9513-3b33-ae8f-079e68a2085c","name":"Funnel","comments":"","instanceIdentifier":"d8dc9ebc-4731-3f5a-d5c5-49acdffd6f74"},"labelIndex":0,"zIndex":4,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dc2297c9-9513-3b33-ae8f-079e68a2085c"},{"identifier":"464a344e-1132-3a95-87db-c9220edd0db0","instanceIdentifier":"22dff3dd-019d-1000-de83-9169816047c2","name":"","source":{"id":"22dfcdb0-019d-1000-588a-85984e5f89b8","type":"PROCESSOR","groupId":"dc2297c9-9513-3b33-ae8f-079e68a2085c","name":"JoltTransformJSON","comments":"","instanceIdentifier":"cfdf2982-1aad-3406-6f12-03cd26bbbd75"},"destination":{"id":"53251ec4-c1e0-3420-9d59-8afa68d8a536","type":"FUNNEL","groupId":"dc2297c9-9513-3b33-ae8f-079e68a2085c","name":"Funnel","comments":"","instanceIdentifier":"d8dc9ebc-4731-3f5a-d5c5-49acdffd6f74"},"labelIndex":0,"zIndex":5,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dc2297c9-9513-3b33-ae8f-079e68a2085c"},{"identifier":"0cfc3206-fc1d-352c-9d7f-b2ccebe9cde5","instanceIdentifier":"22de7210-019d-1000-f3b8-e50f1708e5bb","name":"","source":{"id":"63c9f765-2e53-3126-8241-8dcf2aebf1a1","type":"PROCESSOR","groupId":"dc2297c9-9513-3b33-ae8f-079e68a2085c","name":"JoltTransformJSON","comments":"","instanceIdentifier":"22dbe699-019d-1000-e2e7-5aabc7b7781e"},"destination":{"id":"53251ec4-c1e0-3420-9d59-8afa68d8a536","type":"FUNNEL","groupId":"dc2297c9-9513-3b33-ae8f-079e68a2085c","name":"Funnel","comments":"","instanceIdentifier":"d8dc9ebc-4731-3f5a-d5c5-49acdffd6f74"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dc2297c9-9513-3b33-ae8f-079e68a2085c"},{"identifier":"49e7801e-c97e-3105-bcf5-80500fc98351","instanceIdentifier":"22e0a012-019d-1000-2f5d-fb73bcbb4e0f","name":"","source":{"id":"63eb0121-b39b-3904-ab81-83a2d6e28c50","type":"PROCESSOR","groupId":"dc2297c9-9513-3b33-ae8f-079e68a2085c","name":"RouteOnAttribute","comments":"","instanceIdentifier":"b1235dc0-5697-371e-1907-e8e49510cfac"},"destination":{"id":"22e063ca-019d-1000-8835-c2e7b47eecb4","type":"PROCESSOR","groupId":"dc2297c9-9513-3b33-ae8f-079e68a2085c","name":"JoltTransformJSON","comments":"","instanceIdentifier":"bb619523-8c24-3020-3e36-4cc155d60572"},"labelIndex":0,"zIndex":7,"selectedRelationships":["is_companies"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dc2297c9-9513-3b33-ae8f-079e68a2085c"},{"identifier":"7655682b-dd7f-31dc-bf1f-e782e96eb759","instanceIdentifier":"22def43c-019d-1000-3c53-f525629a439a","name":"","source":{"id":"63eb0121-b39b-3904-ab81-83a2d6e28c50","type":"PROCESSOR","groupId":"dc2297c9-9513-3b33-ae8f-079e68a2085c","name":"RouteOnAttribute","comments":"","instanceIdentifier":"b1235dc0-5697-371e-1907-e8e49510cfac"},"destination":{"id":"22dec309-019d-1000-ecc6-5dbcfe14f2b8","type":"PROCESSOR","groupId":"dc2297c9-9513-3b33-ae8f-079e68a2085c","name":"JoltTransformJSON","comments":"","instanceIdentifier":"fd10f39e-2a4a-3484-7f08-44f110088eeb"},"labelIndex":0,"zIndex":3,"selectedRelationships":["is_games"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dc2297c9-9513-3b33-ae8f-079e68a2085c"}],"labels":[{"identifier":"87cc28a7-081c-3e1a-851c-5b847420c017","instanceIdentifier":"83c8f3eb-385b-33ff-ae19-0aa67a80684f","position":{"x":600.0,"y":792.0},"label":"Games","zIndex":0,"width":368.0,"height":184.0,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"dc2297c9-9513-3b33-ae8f-079e68a2085c"},{"identifier":"2389f049-e75d-3b27-8161-ec30e128311f","instanceIdentifier":"d23e16d6-392c-30ed-5416-2947f14750c8","position":{"x":1992.0,"y":416.0},"label":"Companies","zIndex":0,"width":368.0,"height":184.0,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"dc2297c9-9513-3b33-ae8f-079e68a2085c"},{"identifier":"a81d709b-4dc3-3dd3-9847-fc30a90da9b8","instanceIdentifier":"12d30d52-3683-3008-ecbe-61efd1080c43","position":{"x":600.0,"y":432.0},"label":"Release Dates","zIndex":0,"width":368.0,"height":184.0,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"dc2297c9-9513-3b33-ae8f-079e68a2085c"},{"identifier":"b20844f8-1046-3de7-9459-ac0616365ad0","instanceIdentifier":"f5a1a0b0-be7c-30d0-5858-8368ed6c1425","position":{"x":2000.0,"y":792.0},"label":"Companies","zIndex":0,"width":368.0,"height":184.0,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"dc2297c9-9513-3b33-ae8f-079e68a2085c"}],"funnels":[{"identifier":"53251ec4-c1e0-3420-9d59-8afa68d8a536","instanceIdentifier":"d8dc9ebc-4731-3f5a-d5c5-49acdffd6f74","position":{"x":1424.0,"y":1040.0},"componentType":"FUNNEL","groupIdentifier":"dc2297c9-9513-3b33-ae8f-079e68a2085c"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"}],"remoteProcessGroups":[],"processors":[{"identifier":"bd05508e-e019-30d4-a9b1-9ab36dd04e1a","instanceIdentifier":"6bff2e61-37d1-3319-bc62-501d95a4e4cc","name":"PutS3Object","comments":"","position":{"x":2728.0,"y":2136.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.8.0"},"properties":{"FullControl User List":"${s3.permissions.full.users}","Resource Transfer Source":"FLOWFILE_CONTENT","Cache Control":null,"Endpoint Override URL":"http://minio:9000","File Resource Service":null,"Multipart Upload Max Age Threshold":"7 days","Proxy Configuration Service":null,"Object Tags Prefix":null,"Content Type":null,"Canned ACL":"${s3.permissions.cannedacl}","Use Path Style Access":"false","Encryption Service":null,"Write ACL User List":"${s3.permissions.writeacl.users}","Use Chunked Encoding":"true","Read ACL User List":"${s3.permissions.readacl.users}","Content Disposition":null,"Storage Class":"STANDARD","Multipart Part Size":"5 GB","Remove Tag Prefix":"false","Object Key":"datalake-raw-games_analytics-IGDB/IGDB/erro_logs/convert_record/failure/${filename}","Multipart Threshold":"5 GB","Temporary Directory Multipart State":"${java.io.tmpdir}","SSL Context Service":null,"Bucket":"datalake-landing","Multipart Upload AgeOff Interval":"60 min","AWS Credentials Provider Service":"e97e22e3-3426-3ec0-b158-237f1ae90a69","Communications Timeout":"60 secs","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Custom Region":null},"propertyDescriptors":{"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Object Tags Prefix":{"name":"Object Tags Prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Canned ACL":{"name":"Canned ACL","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Path Style Access":{"name":"Use Path Style Access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Encryption Service":{"name":"Encryption Service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remove Tag Prefix":{"name":"Remove Tag Prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Temporary Directory Multipart State":{"name":"Temporary Directory Multipart State","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider Service":{"name":"AWS Credentials Provider Service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Region":{"name":"Custom Region","displayName":"Custom Region","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1200,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"162d32ef-e486-3557-b2b6-7c5a913c25e2","instanceIdentifier":"e093ac63-bd1d-3aa7-20ce-382789aa6501","name":"ExtractText","comments":"","position":{"x":696.0,"y":480.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","endpoint_name":"(.*)","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","Enable Repeating Capture Group":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Enable Named Groups":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"endpoint_name":{"name":"endpoint_name","displayName":"endpoint_name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Repeating Capture Group":{"name":"Enable Repeating Capture Group","displayName":"Enable Repeating Capture Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Named Groups":{"name":"Enable Named Groups","displayName":"Enable Named Groups","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"03805e0b-e472-3177-8760-45d9b905dcda","instanceIdentifier":"29209e4e-82c3-3748-06af-09d291e789a3","name":"PutS3Object","comments":"","position":{"x":-712.0,"y":1440.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.8.0"},"properties":{"FullControl User List":"${s3.permissions.full.users}","Resource Transfer Source":"FLOWFILE_CONTENT","Cache Control":null,"Endpoint Override URL":"http://minio:9000","File Resource Service":null,"Multipart Upload Max Age Threshold":"7 days","Proxy Configuration Service":null,"Object Tags Prefix":null,"Content Type":null,"Canned ACL":"${s3.permissions.cannedacl}","Use Path Style Access":"false","Encryption Service":null,"Write ACL User List":"${s3.permissions.writeacl.users}","Use Chunked Encoding":"true","Read ACL User List":"${s3.permissions.readacl.users}","Content Disposition":null,"Storage Class":"STANDARD","Multipart Part Size":"5 GB","Remove Tag Prefix":"false","Object Key":"datalake-raw-games_analytics-IGDB/IGDB/erro_logs/invoke_http/retry/${endpoint_name}/${UUID()}","Multipart Threshold":"5 GB","Temporary Directory Multipart State":"${java.io.tmpdir}","SSL Context Service":null,"Bucket":"datalake-landing","Multipart Upload AgeOff Interval":"60 min","AWS Credentials Provider Service":"e97e22e3-3426-3ec0-b158-237f1ae90a69","Communications Timeout":"60 secs","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Custom Region":null},"propertyDescriptors":{"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Object Tags Prefix":{"name":"Object Tags Prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Canned ACL":{"name":"Canned ACL","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Path Style Access":{"name":"Use Path Style Access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Encryption Service":{"name":"Encryption Service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remove Tag Prefix":{"name":"Remove Tag Prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Temporary Directory Multipart State":{"name":"Temporary Directory Multipart State","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider Service":{"name":"AWS Credentials Provider Service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Region":{"name":"Custom Region","displayName":"Custom Region","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1200,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"9a17bf5a-44ca-3fe0-9041-cf15371427e6","instanceIdentifier":"69560a50-2757-3800-522c-a198a10785b9","name":"ConvertRecord","comments":"","position":{"x":1384.0,"y":2152.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"6418f4ad-26c9-3695-af0c-1abb1637162c","Record Reader":"dae7c7de-f8d5-3422-8b34-270ad4405b21"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":4,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"e5de1144-fa4a-393a-aa43-635149834bdb","instanceIdentifier":"fdc6f1fd-c4be-37d0-0592-44c566a76c4a","name":"LogMessage","comments":"","position":{"x":-40.0,"y":1440.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Log Message":null,"Log Level":"info","Log Prefix":null},"propertyDescriptors":{"Log Message":{"name":"Log Message","displayName":"Log Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"5dff2767-af86-30ea-baf5-e135280f5ea4","instanceIdentifier":"167d872b-49c1-3052-6490-86fa93256b1c","name":"LogMessage","comments":"","position":{"x":2072.0,"y":1000.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Log Message":null,"Log Level":"info","Log Prefix":null},"propertyDescriptors":{"Log Message":{"name":"Log Message","displayName":"Log Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"476710f2-2347-38a9-ae5b-938f86df7a9e","instanceIdentifier":"7011436c-45d9-3086-8713-be17658e70a2","name":"GenerateFlowFile","comments":"","position":{"x":696.0,"y":-56.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"File Size":"0B","Batch Size":"1","Unique FlowFiles":"false","Mime Type":null,"Custom Text":"#{api_endpoints}","Character Set":"UTF-8","Data Format":"Text"},"propertyDescriptors":{"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mime Type":{"name":"Mime Type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Text":{"name":"Custom Text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"2 hours","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"eba2bfb8-d8de-3367-882a-a273fdffbe7b","instanceIdentifier":"85aa2a0c-11e3-3e27-68f2-fee1226c5b66","name":"RouteOnContent","comments":"","position":{"x":1376.0,"y":1304.0},"type":"org.apache.nifi.processors.standard.RouteOnContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Content Buffer Size":"1 MB","is_empty_array":"^\\[\\s*\\]$","Match Requirement":"content must match exactly","Character Set":"UTF-8"},"propertyDescriptors":{"Content Buffer Size":{"name":"Content Buffer Size","displayName":"Content Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"is_empty_array":{"name":"is_empty_array","displayName":"is_empty_array","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Match Requirement":{"name":"Match Requirement","displayName":"Match Requirement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["is_empty_array"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"de413be2-7254-33d8-8bac-5c01323dd3a2","instanceIdentifier":"6218633e-91bc-37cb-abff-392dee8fce13","name":"PutS3Object","comments":"","position":{"x":1384.0,"y":2448.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.8.0"},"properties":{"FullControl User List":"${s3.permissions.full.users}","Resource Transfer Source":"FLOWFILE_CONTENT","Cache Control":null,"Endpoint Override URL":"http://minio:9000","File Resource Service":null,"Multipart Upload Max Age Threshold":"7 days","Proxy Configuration Service":null,"Object Tags Prefix":null,"Content Type":null,"Canned ACL":"${s3.permissions.cannedacl}","Use Path Style Access":"false","Encryption Service":null,"Write ACL User List":"${s3.permissions.writeacl.users}","Use Chunked Encoding":"true","Read ACL User List":"${s3.permissions.readacl.users}","Content Disposition":null,"Storage Class":"STANDARD","Multipart Part Size":"5 GB","Remove Tag Prefix":"false","Object Key":"datalake-raw-games_analytics-IGDB/IGDB/${endpoint_name}/${content_SHA-256}.avro","Multipart Threshold":"5 GB","Temporary Directory Multipart State":"${java.io.tmpdir}","SSL Context Service":null,"Bucket":"datalake-landing","Multipart Upload AgeOff Interval":"60 min","AWS Credentials Provider Service":"e97e22e3-3426-3ec0-b158-237f1ae90a69","Communications Timeout":"60 secs","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Custom Region":null},"propertyDescriptors":{"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Object Tags Prefix":{"name":"Object Tags Prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Canned ACL":{"name":"Canned ACL","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Path Style Access":{"name":"Use Path Style Access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Encryption Service":{"name":"Encryption Service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remove Tag Prefix":{"name":"Remove Tag Prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Temporary Directory Multipart State":{"name":"Temporary Directory Multipart State","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider Service":{"name":"AWS Credentials Provider Service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Region":{"name":"Custom Region","displayName":"Custom Region","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":4,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"c71c50c0-28a9-3b4a-a6b8-cd4d01759454","instanceIdentifier":"5f282dbf-93e0-300d-12aa-ee0d91cdf442","name":"LogMessage","comments":"","position":{"x":696.0,"y":1560.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Log Message":null,"Log Level":"info","Log Prefix":null},"propertyDescriptors":{"Log Message":{"name":"Log Message","displayName":"Log Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"563c5421-6337-3d38-b2d3-2e328b152e24","instanceIdentifier":"6fe56e52-a6da-3cce-cd52-538cc85638e3","name":"PutS3Object","comments":"","position":{"x":2720.0,"y":2448.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.8.0"},"properties":{"FullControl User List":"${s3.permissions.full.users}","Resource Transfer Source":"FLOWFILE_CONTENT","Cache Control":null,"Endpoint Override URL":"http://minio:9000","File Resource Service":null,"Multipart Upload Max Age Threshold":"7 days","Proxy Configuration Service":null,"Object Tags Prefix":null,"Content Type":null,"Canned ACL":"${s3.permissions.cannedacl}","Use Path Style Access":"false","Encryption Service":null,"Write ACL User List":"${s3.permissions.writeacl.users}","Use Chunked Encoding":"true","Read ACL User List":"${s3.permissions.readacl.users}","Content Disposition":null,"Storage Class":"STANDARD","Multipart Part Size":"5 GB","Remove Tag Prefix":"false","Object Key":"datalake-raw-games_analytics-IGDB/IGDB/erro_logs/put_s3_object/failure/${filename}","Multipart Threshold":"5 GB","Temporary Directory Multipart State":"${java.io.tmpdir}","SSL Context Service":null,"Bucket":"datalake-landing","Multipart Upload AgeOff Interval":"60 min","AWS Credentials Provider Service":"e97e22e3-3426-3ec0-b158-237f1ae90a69","Communications Timeout":"60 secs","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Custom Region":null},"propertyDescriptors":{"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Object Tags Prefix":{"name":"Object Tags Prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Canned ACL":{"name":"Canned ACL","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Path Style Access":{"name":"Use Path Style Access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Encryption Service":{"name":"Encryption Service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remove Tag Prefix":{"name":"Remove Tag Prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Temporary Directory Multipart State":{"name":"Temporary Directory Multipart State","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider Service":{"name":"AWS Credentials Provider Service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Region":{"name":"Custom Region","displayName":"Custom Region","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1200,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"2c0cae9d-9ae7-3480-86da-fb93823008ba","instanceIdentifier":"703dc12f-7b44-3cea-5f29-28539a72d0fc","name":"PutS3Object","comments":"","position":{"x":-720.0,"y":888.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.8.0"},"properties":{"FullControl User List":"${s3.permissions.full.users}","Resource Transfer Source":"FLOWFILE_CONTENT","Cache Control":null,"Endpoint Override URL":"http://minio:9000","File Resource Service":null,"Multipart Upload Max Age Threshold":"7 days","Proxy Configuration Service":null,"Object Tags Prefix":null,"Content Type":null,"Canned ACL":"${s3.permissions.cannedacl}","Use Path Style Access":"false","Encryption Service":null,"Write ACL User List":"${s3.permissions.writeacl.users}","Use Chunked Encoding":"true","Read ACL User List":"${s3.permissions.readacl.users}","Content Disposition":null,"Storage Class":"STANDARD","Multipart Part Size":"5 GB","Remove Tag Prefix":"false","Object Key":"datalake-raw-games_analytics-IGDB/IGDB/erro_logs/invoke_http/no_retry/${endpoint_name}/${UUID()}","Multipart Threshold":"5 GB","Temporary Directory Multipart State":"${java.io.tmpdir}","SSL Context Service":null,"Bucket":"datalake-landing","Multipart Upload AgeOff Interval":"60 min","AWS Credentials Provider Service":"e97e22e3-3426-3ec0-b158-237f1ae90a69","Communications Timeout":"60 secs","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Custom Region":null},"propertyDescriptors":{"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Object Tags Prefix":{"name":"Object Tags Prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Canned ACL":{"name":"Canned ACL","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Path Style Access":{"name":"Use Path Style Access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Encryption Service":{"name":"Encryption Service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remove Tag Prefix":{"name":"Remove Tag Prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Temporary Directory Multipart State":{"name":"Temporary Directory Multipart State","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider Service":{"name":"AWS Credentials Provider Service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Region":{"name":"Custom Region","displayName":"Custom Region","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1200,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"e08f9a23-53e6-3a8a-96bd-4e7fa4fee18a","instanceIdentifier":"75a9beb3-9e85-3226-ac0d-a5abb22fddec","name":"ReplaceText","comments":"","position":{"x":1376.0,"y":1016.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Replacement Value":"fields *;\nlimit 500;\nsort id;\nwhere id > ${last_id:replaceNull('0'):replaceEmpty('0')};","Search Value":"(?s)(^.*$)","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Search Value":{"name":"Search Value","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"ec3b234c-fd6c-3a25-8879-78e0e9c1f2d7","instanceIdentifier":"68ab4b15-5af0-384a-008e-4487d2b0411f","name":"LogMessage","comments":"","position":{"x":1384.0,"y":2688.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Log Message":null,"Log Level":"info","Log Prefix":null},"propertyDescriptors":{"Log Message":{"name":"Log Message","displayName":"Log Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"b5fb09dc-6677-3e67-bade-0016d12bf2a7","instanceIdentifier":"4b616352-d56f-31f9-667f-f9852cb97038","name":"PutS3Object","comments":"","position":{"x":2768.0,"y":1008.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.8.0"},"properties":{"FullControl User List":"${s3.permissions.full.users}","Resource Transfer Source":"FLOWFILE_CONTENT","Cache Control":null,"Endpoint Override URL":"http://minio:9000","File Resource Service":null,"Multipart Upload Max Age Threshold":"7 days","Proxy Configuration Service":null,"Object Tags Prefix":null,"Content Type":null,"Canned ACL":"${s3.permissions.cannedacl}","Use Path Style Access":"false","Encryption Service":null,"Write ACL User List":"${s3.permissions.writeacl.users}","Use Chunked Encoding":"true","Read ACL User List":"${s3.permissions.readacl.users}","Content Disposition":null,"Storage Class":"STANDARD","Multipart Part Size":"5 GB","Remove Tag Prefix":"false","Object Key":"IGDB/erro_logs/replace_text/failure/${filename}","Multipart Threshold":"5 GB","Temporary Directory Multipart State":"${java.io.tmpdir}","SSL Context Service":null,"Bucket":"datalake-landing","Multipart Upload AgeOff Interval":"60 min","AWS Credentials Provider Service":"e97e22e3-3426-3ec0-b158-237f1ae90a69","Communications Timeout":"60 secs","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Custom Region":null},"propertyDescriptors":{"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Object Tags Prefix":{"name":"Object Tags Prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Canned ACL":{"name":"Canned ACL","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Path Style Access":{"name":"Use Path Style Access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Encryption Service":{"name":"Encryption Service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remove Tag Prefix":{"name":"Remove Tag Prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Temporary Directory Multipart State":{"name":"Temporary Directory Multipart State","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider Service":{"name":"AWS Credentials Provider Service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Region":{"name":"Custom Region","displayName":"Custom Region","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1200,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"3158beb0-a92a-39b0-b298-9b25af22fed4","instanceIdentifier":"98d14745-215d-3cc4-5788-99654480e850","name":"PutS3Object","comments":"","position":{"x":-736.0,"y":672.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.8.0"},"properties":{"FullControl User List":"${s3.permissions.full.users}","Resource Transfer Source":"FLOWFILE_CONTENT","Cache Control":null,"Endpoint Override URL":"http://minio:9000","File Resource Service":null,"Multipart Upload Max Age Threshold":"7 days","Proxy Configuration Service":null,"Object Tags Prefix":null,"Content Type":null,"Canned ACL":"${s3.permissions.cannedacl}","Use Path Style Access":"false","Encryption Service":null,"Write ACL User List":"${s3.permissions.writeacl.users}","Use Chunked Encoding":"true","Read ACL User List":"${s3.permissions.readacl.users}","Content Disposition":null,"Storage Class":"STANDARD","Multipart Part Size":"5 GB","Remove Tag Prefix":"false","Object Key":"datalake-raw-games_analytics-IGDB/IGDB/erro_logs/invoke_http/failure/${UUID()}","Multipart Threshold":"5 GB","Temporary Directory Multipart State":"${java.io.tmpdir}","SSL Context Service":null,"Bucket":"datalake-landing","Multipart Upload AgeOff Interval":"60 min","AWS Credentials Provider Service":"e97e22e3-3426-3ec0-b158-237f1ae90a69","Communications Timeout":"60 secs","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Custom Region":null},"propertyDescriptors":{"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Object Tags Prefix":{"name":"Object Tags Prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Canned ACL":{"name":"Canned ACL","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Path Style Access":{"name":"Use Path Style Access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Encryption Service":{"name":"Encryption Service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remove Tag Prefix":{"name":"Remove Tag Prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Temporary Directory Multipart State":{"name":"Temporary Directory Multipart State","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider Service":{"name":"AWS Credentials Provider Service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Region":{"name":"Custom Region","displayName":"Custom Region","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1200,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"8b0bc69e-7f5d-3491-890f-72f05ec4ffc7","instanceIdentifier":"0a275922-b091-3a77-e603-3a0ee6fa9245","name":"ReplaceText","comments":"","position":{"x":696.0,"y":736.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Replacement Value":"fields *;\nlimit 500;\nsort id;\nwhere id > 0;","Search Value":"(?s)(^.*$)","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Search Value":{"name":"Search Value","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"78159e25-c97c-3c56-9557-675daff72164","instanceIdentifier":"ffc71cad-0dc0-36a8-73bd-033a4e7fc291","name":"EvaluateJsonPath","comments":"","position":{"x":696.0,"y":1304.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","last_id":"$.[-1].id","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"last_id":{"name":"last_id","displayName":"last_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"eb9e5984-afb1-3923-bf73-b4ae5cff9d4d","instanceIdentifier":"796a5632-7e56-3721-716b-a7a88b724be8","name":"LogMessage","comments":"","position":{"x":2048.0,"y":2448.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Log Message":null,"Log Level":"info","Log Prefix":null},"propertyDescriptors":{"Log Message":{"name":"Log Message","displayName":"Log Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"020ff304-882e-35e2-a92a-259c8c1043d3","instanceIdentifier":"12428fa8-2be3-3577-e196-ecadc0a11c42","name":"LogMessage","comments":"","position":{"x":-136.0,"y":1208.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Log Message":null,"Log Level":"info","Log Prefix":null},"propertyDescriptors":{"Log Message":{"name":"Log Message","displayName":"Log Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"539b17e9-e014-3bd9-8f63-d1ecca3feb9f","instanceIdentifier":"a006b3e3-ae42-3bd7-ed5d-01052c5a5fa8","name":"Log Error","comments":"","position":{"x":-56.0,"y":680.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Log Message":null,"Log Level":"info","Log Prefix":"An error ocurred: "},"propertyDescriptors":{"Log Message":{"name":"Log Message","displayName":"Log Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"a957a886-498f-3ac5-9a59-3902b1866f11","instanceIdentifier":"04501327-2bec-3bf6-04f1-06af4eb3aa53","name":"LogMessage","comments":"","position":{"x":2016.0,"y":2136.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Log Message":null,"Log Level":"info","Log Prefix":null},"propertyDescriptors":{"Log Message":{"name":"Log Message","displayName":"Log Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"2c458789-6f1b-3f7b-86bd-1bb86eb5ef31","instanceIdentifier":"32ee5f57-bdc4-3dd0-dadc-d1bf08882da2","name":"CryptographicHashContent","comments":"","position":{"x":1384.0,"y":1872.0},"type":"org.apache.nifi.processors.standard.CryptographicHashContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Hash Algorithm":"SHA-256","Fail When Content Empty":"true"},"propertyDescriptors":{"Hash Algorithm":{"name":"Hash Algorithm","displayName":"Hash Algorithm","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Fail When Content Empty":{"name":"Fail When Content Empty","displayName":"Fail When Content Empty","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"aa0fafde-ffb1-3c28-a9da-42b5a8356c12","instanceIdentifier":"15396ecc-a46a-3002-ac99-8ab30f8fc6e2","name":"PutS3Object","comments":"","position":{"x":120.0,"y":1768.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.8.0"},"properties":{"FullControl User List":"${s3.permissions.full.users}","Resource Transfer Source":"FLOWFILE_CONTENT","Cache Control":null,"Endpoint Override URL":"http://minio:9000","File Resource Service":null,"Multipart Upload Max Age Threshold":"7 days","Proxy Configuration Service":null,"Object Tags Prefix":null,"Content Type":null,"Canned ACL":"${s3.permissions.cannedacl}","Use Path Style Access":"false","Encryption Service":null,"Write ACL User List":"${s3.permissions.writeacl.users}","Use Chunked Encoding":"true","Read ACL User List":"${s3.permissions.readacl.users}","Content Disposition":null,"Storage Class":"STANDARD","Multipart Part Size":"5 GB","Remove Tag Prefix":"false","Object Key":"datalake-raw-games_analytics-IGDB/IGDB/erro_logs/${filename}","Multipart Threshold":"5 GB","Temporary Directory Multipart State":"${java.io.tmpdir}","SSL Context Service":null,"Bucket":"datalake-landing","Multipart Upload AgeOff Interval":"60 min","AWS Credentials Provider Service":"e97e22e3-3426-3ec0-b158-237f1ae90a69","Communications Timeout":"60 secs","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Custom Region":null},"propertyDescriptors":{"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Object Tags Prefix":{"name":"Object Tags Prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Canned ACL":{"name":"Canned ACL","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Path Style Access":{"name":"Use Path Style Access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Encryption Service":{"name":"Encryption Service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remove Tag Prefix":{"name":"Remove Tag Prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Temporary Directory Multipart State":{"name":"Temporary Directory Multipart State","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider Service":{"name":"AWS Credentials Provider Service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Region":{"name":"Custom Region","displayName":"Custom Region","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1200,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"a04d36b4-6a24-326f-913f-96570aed5566","instanceIdentifier":"080e069a-0eca-33a0-1ee4-4c7016c671d7","name":"InvokeHTTP","comments":"","position":{"x":696.0,"y":1016.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Request Content-Encoding":"DISABLED","Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"Proxy Configuration Service":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"#{common_endpoint}/${endpoint_name}","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Client-ID":{"name":"Client-ID","displayName":"Client-ID","identifiesControllerService":false,"sensitive":true,"dynamic":true},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authorization":{"name":"Authorization","displayName":"Authorization","identifiesControllerService":false,"sensitive":true,"dynamic":true},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":4,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"c6ac792b-e465-31a6-9a8e-ad86fa5a46d4","instanceIdentifier":"d4f1e7d0-130d-356c-1d27-603cd43896cd","name":"SplitJson","comments":"","position":{"x":696.0,"y":200.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"cfc71504-49b7-3355-b231-ec62a1f6ae5d","instanceIdentifier":"c8a248a9-0b6b-3d65-4345-32e3ad4ffa92","name":"LogMessage","comments":"","position":{"x":-32.0,"y":904.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Log Message":null,"Log Level":"info","Log Prefix":null},"propertyDescriptors":{"Log Message":{"name":"Log Message","displayName":"Log Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"93f6ec94-17a0-3207-9256-e74a6e8d8b9a","instanceIdentifier":"525f6cd4-867c-3041-cf7a-0b4402246c70","name":"","source":{"id":"539b17e9-e014-3bd9-8f63-d1ecca3feb9f","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"Log Error","comments":"","instanceIdentifier":"a006b3e3-ae42-3bd7-ed5d-01052c5a5fa8"},"destination":{"id":"3158beb0-a92a-39b0-b298-9b25af22fed4","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"PutS3Object","comments":"","instanceIdentifier":"98d14745-215d-3cc4-5788-99654480e850"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"c0876e68-1115-35cb-8308-ffb10a15394f","instanceIdentifier":"266af695-3840-3c5e-84f1-451a5d26942d","name":"","source":{"id":"eba2bfb8-d8de-3367-882a-a273fdffbe7b","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"RouteOnContent","comments":"","instanceIdentifier":"85aa2a0c-11e3-3e27-68f2-fee1226c5b66"},"destination":{"id":"cd792119-0ad6-3f1a-aa77-022ffe7e1aeb","type":"INPUT_PORT","groupId":"dc2297c9-9513-3b33-ae8f-079e68a2085c","name":"Input","instanceIdentifier":"58b48d14-97d7-3938-041a-95e509f2f9dd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"40195cca-a4a6-3219-9fdc-91480b922957","instanceIdentifier":"ed5c9905-2ad5-3283-7974-be6952bf5c02","name":"","source":{"id":"78159e25-c97c-3c56-9557-675daff72164","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"ffc71cad-0dc0-36a8-73bd-033a4e7fc291"},"destination":{"id":"c71c50c0-28a9-3b4a-a6b8-cd4d01759454","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"LogMessage","comments":"","instanceIdentifier":"5f282dbf-93e0-300d-12aa-ee0d91cdf442"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"8101f9be-ec55-392b-b470-dd47c38b1089","instanceIdentifier":"415ba81f-1e87-3230-2db9-9ab82a2da206","name":"","source":{"id":"2c458789-6f1b-3f7b-86bd-1bb86eb5ef31","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"CryptographicHashContent","comments":"","instanceIdentifier":"32ee5f57-bdc4-3dd0-dadc-d1bf08882da2"},"destination":{"id":"9a17bf5a-44ca-3fe0-9041-cf15371427e6","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"ConvertRecord","comments":"","instanceIdentifier":"69560a50-2757-3800-522c-a198a10785b9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"7dbde220-ec9d-3289-a8c5-540b9d7f7322","instanceIdentifier":"2364b61e-fe42-3dfe-7889-1fd1d7ca2817","name":"","source":{"id":"de413be2-7254-33d8-8bac-5c01323dd3a2","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"PutS3Object","comments":"","instanceIdentifier":"6218633e-91bc-37cb-abff-392dee8fce13"},"destination":{"id":"ec3b234c-fd6c-3a25-8879-78e0e9c1f2d7","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"LogMessage","comments":"","instanceIdentifier":"68ab4b15-5af0-384a-008e-4487d2b0411f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"5f2f472d-d5f1-3a75-bbf0-25c4069b72b6","instanceIdentifier":"290dc6dc-f758-3f00-cd36-a93c7dc44e75","name":"","source":{"id":"8b0bc69e-7f5d-3491-890f-72f05ec4ffc7","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"ReplaceText","comments":"","instanceIdentifier":"0a275922-b091-3a77-e603-3a0ee6fa9245"},"destination":{"id":"a04d36b4-6a24-326f-913f-96570aed5566","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"InvokeHTTP","comments":"","instanceIdentifier":"080e069a-0eca-33a0-1ee4-4c7016c671d7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"cd15472c-97b5-3a3e-92db-1466a946d363","instanceIdentifier":"8f452e1a-358b-3cea-a8c8-cb7febfc612c","name":"","source":{"id":"c71c50c0-28a9-3b4a-a6b8-cd4d01759454","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"LogMessage","comments":"","instanceIdentifier":"5f282dbf-93e0-300d-12aa-ee0d91cdf442"},"destination":{"id":"aa0fafde-ffb1-3c28-a9da-42b5a8356c12","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"PutS3Object","comments":"","instanceIdentifier":"15396ecc-a46a-3002-ac99-8ab30f8fc6e2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"c3c8ee97-17d6-3fa5-8662-3a9997f0e3ec","instanceIdentifier":"0461ba21-4983-32e8-0388-611626e3459e","name":"","source":{"id":"539b17e9-e014-3bd9-8f63-d1ecca3feb9f","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"Log Error","comments":"","instanceIdentifier":"a006b3e3-ae42-3bd7-ed5d-01052c5a5fa8"},"destination":{"id":"a04d36b4-6a24-326f-913f-96570aed5566","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"InvokeHTTP","comments":"","instanceIdentifier":"080e069a-0eca-33a0-1ee4-4c7016c671d7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":520.0,"y":824.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"d36250a1-e58e-3b4d-a21d-c02bf533ec9d","instanceIdentifier":"e54d3663-4f88-30c0-064c-24f10a4228a4","name":"","source":{"id":"c6ac792b-e465-31a6-9a8e-ad86fa5a46d4","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"SplitJson","comments":"","instanceIdentifier":"d4f1e7d0-130d-356c-1d27-603cd43896cd"},"destination":{"id":"162d32ef-e486-3557-b2b6-7c5a913c25e2","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"ExtractText","comments":"","instanceIdentifier":"e093ac63-bd1d-3aa7-20ce-382789aa6501"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"5820faee-9463-3512-8b28-0dd815a6b338","instanceIdentifier":"5896bbed-a154-3bd3-cd77-a39848d3cad8","name":"","source":{"id":"78159e25-c97c-3c56-9557-675daff72164","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"ffc71cad-0dc0-36a8-73bd-033a4e7fc291"},"destination":{"id":"eba2bfb8-d8de-3367-882a-a273fdffbe7b","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"RouteOnContent","comments":"","instanceIdentifier":"85aa2a0c-11e3-3e27-68f2-fee1226c5b66"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"acee3453-7007-327d-92f0-fcbcf99e90a9","instanceIdentifier":"7b7ed44c-ffef-3b68-c037-45585ead6f06","name":"","source":{"id":"cfc71504-49b7-3355-b231-ec62a1f6ae5d","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"LogMessage","comments":"","instanceIdentifier":"c8a248a9-0b6b-3d65-4345-32e3ad4ffa92"},"destination":{"id":"2c0cae9d-9ae7-3480-86da-fb93823008ba","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"PutS3Object","comments":"","instanceIdentifier":"703dc12f-7b44-3cea-5f29-28539a72d0fc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"ec1c3bd1-740a-38de-b808-60b7cc66fc69","instanceIdentifier":"99351419-bb62-3eb4-796d-b44952742f02","name":"","source":{"id":"e5de1144-fa4a-393a-aa43-635149834bdb","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"LogMessage","comments":"","instanceIdentifier":"fdc6f1fd-c4be-37d0-0592-44c566a76c4a"},"destination":{"id":"03805e0b-e472-3177-8760-45d9b905dcda","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"PutS3Object","comments":"","instanceIdentifier":"29209e4e-82c3-3748-06af-09d291e789a3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"1af2a9db-274b-32ad-b52d-23d6eeea5f92","instanceIdentifier":"5a0fdce9-74af-3bc0-bc7b-6ba5417195e0","name":"","source":{"id":"eb9e5984-afb1-3923-bf73-b4ae5cff9d4d","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"LogMessage","comments":"","instanceIdentifier":"796a5632-7e56-3721-716b-a7a88b724be8"},"destination":{"id":"563c5421-6337-3d38-b2d3-2e328b152e24","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"PutS3Object","comments":"","instanceIdentifier":"6fe56e52-a6da-3cce-cd52-538cc85638e3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"38b6766c-6d30-356b-b426-3c5f8d4f6fd5","instanceIdentifier":"38f5ed67-e411-3973-9dd1-a481430aef74","name":"","source":{"id":"a957a886-498f-3ac5-9a59-3902b1866f11","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"LogMessage","comments":"","instanceIdentifier":"04501327-2bec-3bf6-04f1-06af4eb3aa53"},"destination":{"id":"bd05508e-e019-30d4-a9b1-9ab36dd04e1a","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"PutS3Object","comments":"","instanceIdentifier":"6bff2e61-37d1-3319-bc62-501d95a4e4cc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"3de9e98a-babf-3323-afd4-9e681bea4988","instanceIdentifier":"20db06e8-5efd-3e98-df81-614ec3877a39","name":"","source":{"id":"de413be2-7254-33d8-8bac-5c01323dd3a2","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"PutS3Object","comments":"","instanceIdentifier":"6218633e-91bc-37cb-abff-392dee8fce13"},"destination":{"id":"eb9e5984-afb1-3923-bf73-b4ae5cff9d4d","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"LogMessage","comments":"","instanceIdentifier":"796a5632-7e56-3721-716b-a7a88b724be8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"bd42f9c2-455e-39b0-921a-fcdbf8d89870","instanceIdentifier":"01f872d3-2212-3753-57b7-153a11b27a42","name":"","source":{"id":"a04d36b4-6a24-326f-913f-96570aed5566","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"InvokeHTTP","comments":"","instanceIdentifier":"080e069a-0eca-33a0-1ee4-4c7016c671d7"},"destination":{"id":"539b17e9-e014-3bd9-8f63-d1ecca3feb9f","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"Log Error","comments":"","instanceIdentifier":"a006b3e3-ae42-3bd7-ed5d-01052c5a5fa8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"4557ff80-38b6-38c5-b460-2bc09712aef4","instanceIdentifier":"6c46f2ef-0b39-3ec0-fe74-8ad42819ca00","name":"","source":{"id":"162d32ef-e486-3557-b2b6-7c5a913c25e2","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"ExtractText","comments":"","instanceIdentifier":"e093ac63-bd1d-3aa7-20ce-382789aa6501"},"destination":{"id":"8b0bc69e-7f5d-3491-890f-72f05ec4ffc7","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"ReplaceText","comments":"","instanceIdentifier":"0a275922-b091-3a77-e603-3a0ee6fa9245"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"b1dadc44-67d5-3ce0-aa25-276488fefdf6","instanceIdentifier":"4db1969d-1a07-357d-aa17-be23a68e767d","name":"","source":{"id":"5dff2767-af86-30ea-baf5-e135280f5ea4","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"LogMessage","comments":"","instanceIdentifier":"167d872b-49c1-3052-6490-86fa93256b1c"},"destination":{"id":"b5fb09dc-6677-3e67-bade-0016d12bf2a7","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"PutS3Object","comments":"","instanceIdentifier":"4b616352-d56f-31f9-667f-f9852cb97038"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"f15c09cd-fee9-3bdb-bae2-66ef68174990","instanceIdentifier":"9a1c6210-1bb7-32ce-4085-78197a1b827e","name":"","source":{"id":"e08f9a23-53e6-3a8a-96bd-4e7fa4fee18a","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"ReplaceText","comments":"","instanceIdentifier":"75a9beb3-9e85-3226-ac0d-a5abb22fddec"},"destination":{"id":"a04d36b4-6a24-326f-913f-96570aed5566","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"InvokeHTTP","comments":"","instanceIdentifier":"080e069a-0eca-33a0-1ee4-4c7016c671d7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"d286952f-19b9-3b7e-aab3-7b05736bd900","instanceIdentifier":"eaf55610-3ca3-3088-70f5-d1c9fa889f6f","name":"","source":{"id":"e08f9a23-53e6-3a8a-96bd-4e7fa4fee18a","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"ReplaceText","comments":"","instanceIdentifier":"75a9beb3-9e85-3226-ac0d-a5abb22fddec"},"destination":{"id":"5dff2767-af86-30ea-baf5-e135280f5ea4","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"LogMessage","comments":"","instanceIdentifier":"167d872b-49c1-3052-6490-86fa93256b1c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"b428bcc7-9e94-3582-a54f-196bdc9762ed","instanceIdentifier":"7d964bfa-21f3-3f15-d8a4-54d792f5ad82","name":"","source":{"id":"cfc71504-49b7-3355-b231-ec62a1f6ae5d","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"LogMessage","comments":"","instanceIdentifier":"c8a248a9-0b6b-3d65-4345-32e3ad4ffa92"},"destination":{"id":"a04d36b4-6a24-326f-913f-96570aed5566","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"InvokeHTTP","comments":"","instanceIdentifier":"080e069a-0eca-33a0-1ee4-4c7016c671d7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":512.0,"y":1088.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"6ecb2b09-f4b8-3d1e-a61b-aff23300ab04","instanceIdentifier":"dbc78e09-3641-3e75-7003-393373f6a4d2","name":"","source":{"id":"a04d36b4-6a24-326f-913f-96570aed5566","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"InvokeHTTP","comments":"","instanceIdentifier":"080e069a-0eca-33a0-1ee4-4c7016c671d7"},"destination":{"id":"cfc71504-49b7-3355-b231-ec62a1f6ae5d","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"LogMessage","comments":"","instanceIdentifier":"c8a248a9-0b6b-3d65-4345-32e3ad4ffa92"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"ce19c0c2-bd89-38c3-9a65-95d57ca5ba07","instanceIdentifier":"6f19ea49-7503-3bcc-c9ac-81fa287f20ff","name":"","source":{"id":"9a17bf5a-44ca-3fe0-9041-cf15371427e6","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"ConvertRecord","comments":"","instanceIdentifier":"69560a50-2757-3800-522c-a198a10785b9"},"destination":{"id":"de413be2-7254-33d8-8bac-5c01323dd3a2","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"PutS3Object","comments":"","instanceIdentifier":"6218633e-91bc-37cb-abff-392dee8fce13"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"b13b98df-10ff-3573-ae5a-5a4657f6c450","instanceIdentifier":"6ad3770b-cd48-36c0-5926-5594c64546b0","name":"","source":{"id":"a04d36b4-6a24-326f-913f-96570aed5566","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"InvokeHTTP","comments":"","instanceIdentifier":"080e069a-0eca-33a0-1ee4-4c7016c671d7"},"destination":{"id":"78159e25-c97c-3c56-9557-675daff72164","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"ffc71cad-0dc0-36a8-73bd-033a4e7fc291"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"ab0e32f1-2a89-39e8-80ec-078123b6f5fc","instanceIdentifier":"ce488491-671e-39b1-6ece-8e5a794a7fca","name":"","source":{"id":"e5de1144-fa4a-393a-aa43-635149834bdb","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"LogMessage","comments":"","instanceIdentifier":"fdc6f1fd-c4be-37d0-0592-44c566a76c4a"},"destination":{"id":"a04d36b4-6a24-326f-913f-96570aed5566","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"InvokeHTTP","comments":"","instanceIdentifier":"080e069a-0eca-33a0-1ee4-4c7016c671d7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":512.0,"y":1376.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"47c63e29-8507-3f80-8a70-edb6d42590e0","instanceIdentifier":"9e24b9f4-cc8f-3f0a-9266-6503cc89bc17","name":"","source":{"id":"a04d36b4-6a24-326f-913f-96570aed5566","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"InvokeHTTP","comments":"","instanceIdentifier":"080e069a-0eca-33a0-1ee4-4c7016c671d7"},"destination":{"id":"020ff304-882e-35e2-a92a-259c8c1043d3","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"LogMessage","comments":"","instanceIdentifier":"12428fa8-2be3-3577-e196-ecadc0a11c42"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"68f9f669-52c1-3ffb-be96-ee1278305a1f","instanceIdentifier":"5f2194cf-e583-3cbb-c790-d35022f9c8ae","name":"","source":{"id":"eba2bfb8-d8de-3367-882a-a273fdffbe7b","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"RouteOnContent","comments":"","instanceIdentifier":"85aa2a0c-11e3-3e27-68f2-fee1226c5b66"},"destination":{"id":"e08f9a23-53e6-3a8a-96bd-4e7fa4fee18a","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"ReplaceText","comments":"","instanceIdentifier":"75a9beb3-9e85-3226-ac0d-a5abb22fddec"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"7ae02a10-57d7-30d0-9e63-edd35ce2f3f6","instanceIdentifier":"806435f2-7db1-381f-5bb5-b30269063aae","name":"","source":{"id":"9a17bf5a-44ca-3fe0-9041-cf15371427e6","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"ConvertRecord","comments":"","instanceIdentifier":"69560a50-2757-3800-522c-a198a10785b9"},"destination":{"id":"a957a886-498f-3ac5-9a59-3902b1866f11","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"LogMessage","comments":"","instanceIdentifier":"04501327-2bec-3bf6-04f1-06af4eb3aa53"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"d97675db-f316-3cfd-bce8-8a9e6514711f","instanceIdentifier":"e7fa7f28-b9d9-3f2f-7ace-b5784fe9af37","name":"","source":{"id":"a04d36b4-6a24-326f-913f-96570aed5566","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"InvokeHTTP","comments":"","instanceIdentifier":"080e069a-0eca-33a0-1ee4-4c7016c671d7"},"destination":{"id":"e5de1144-fa4a-393a-aa43-635149834bdb","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"LogMessage","comments":"","instanceIdentifier":"fdc6f1fd-c4be-37d0-0592-44c566a76c4a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"08dded04-becc-3634-87fa-d756a1f54f45","instanceIdentifier":"d7029c52-9e24-3bf3-b5e3-1441c6817f40","name":"","source":{"id":"476710f2-2347-38a9-ae5b-938f86df7a9e","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"GenerateFlowFile","comments":"","instanceIdentifier":"7011436c-45d9-3086-8713-be17658e70a2"},"destination":{"id":"c6ac792b-e465-31a6-9a8e-ad86fa5a46d4","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"SplitJson","comments":"","instanceIdentifier":"d4f1e7d0-130d-356c-1d27-603cd43896cd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"b2adff6c-eab4-35ef-b287-dbd7989f84a4","instanceIdentifier":"fa5abb99-9abc-32fc-446d-49110c8de662","name":"","source":{"id":"4d5bd8b3-ac30-3a70-920f-a52ba76efb56","type":"OUTPUT_PORT","groupId":"dc2297c9-9513-3b33-ae8f-079e68a2085c","name":"Output","instanceIdentifier":"39afc7f1-86a1-3d4e-d004-dfc4d2874f24"},"destination":{"id":"2c458789-6f1b-3f7b-86bd-1bb86eb5ef31","type":"PROCESSOR","groupId":"c2a9d700-61b8-3501-9254-a57082bb7425","name":"CryptographicHashContent","comments":"","instanceIdentifier":"32ee5f57-bdc4-3dd0-dadc-d1bf08882da2"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"6418f4ad-26c9-3695-af0c-1abb1637162c","instanceIdentifier":"fbc45e80-82c4-3627-20ac-1066503733d7","name":"AvroRecordSetWriter","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.8.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Schema Registry":null,"Schema Access Strategy":"inherit-record-schema","Schema Name":"${schema.name}","Schema Write Strategy":"avro-embedded","Encoder Pool Size":"32","Compression Format":"NONE","Schema Cache":null,"Schema Version":null,"Cache Size":"1000","Schema Reference Writer":null},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Encoder Pool Size":{"name":"Encoder Pool Size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Format":{"name":"Compression Format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Cache":{"name":"Schema Cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Size":{"name":"Cache Size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.8.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"e97e22e3-3426-3ec0-b158-237f1ae90a69","instanceIdentifier":"698e16aa-f5aa-3051-8cd3-ed131f5798c9","name":"AWSCredentialsProviderControllerService","comments":"","type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.8.0"},"properties":{"Assume Role STS Region":"us-west-2","Assume Role Proxy Configuration Service":null,"OAuth2 Access Token Provider":null,"Assume Role ARN":null,"Assume Role Session Time":"3600","Assume Role Session Name":null,"Use Default Credentials":"false","Assume Role External ID":null,"Assume Role STS Endpoint Override":null,"Profile Name":null,"Credentials File":"/opt/nifi/nifi-current/minio_sites/s3.properties","Use Anonymous Credentials":"false","Assume Role SSL Context Service":null},"propertyDescriptors":{"Assume Role STS Region":{"name":"Assume Role STS Region","displayName":"Assume Role STS Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role Proxy Configuration Service":{"name":"Assume Role Proxy Configuration Service","displayName":"Assume Role Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Access Key ID":{"name":"Access Key ID","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true,"dynamic":false},"OAuth2 Access Token Provider":{"name":"OAuth2 Access Token Provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Assume Role ARN":{"name":"Assume Role ARN","displayName":"Assume Role ARN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role Session Time":{"name":"Assume Role Session Time","displayName":"Assume Role Session Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role Session Name":{"name":"Assume Role Session Name","displayName":"Assume Role Session Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Default Credentials":{"name":"Use Default Credentials","displayName":"Use Default Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role External ID":{"name":"Assume Role External ID","displayName":"Assume Role External ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role STS Endpoint Override":{"name":"Assume Role STS Endpoint Override","displayName":"Assume Role STS Endpoint Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Profile Name":{"name":"Profile Name","displayName":"Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Use Anonymous Credentials":{"name":"Use Anonymous Credentials","displayName":"Use Anonymous Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Secret Access Key":{"name":"Secret Access Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Assume Role SSL Context Service":{"name":"Assume Role SSL Context Service","displayName":"Assume Role SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.8.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"},{"identifier":"dae7c7de-f8d5-3422-8b34-270ad4405b21","instanceIdentifier":"76d3e9d2-fccf-311b-de1b-1c2c645cb4c2","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.8.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Starting Field Name":null,"Max String Length":"20 MB","Schema Inference Cache":null,"Starting Field Strategy":"ROOT_NODE","Schema Registry":null,"Schema Access Strategy":"infer-schema","Schema Name":"${schema.name}","Timestamp Format":null,"Date Format":null,"Schema Application Strategy":"SELECTED_PART","Schema Version":null,"Time Format":null,"Allow Comments":"false"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Starting Field Name":{"name":"Starting Field Name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Inference Cache":{"name":"Schema Inference Cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Starting Field Strategy":{"name":"Starting Field Strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Application Strategy":{"name":"Schema Application Strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.8.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c2a9d700-61b8-3501-9254-a57082bb7425"}],"parameterContextName":"IGDB Parameter","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"IGDB Parameter":{"name":"IGDB Parameter","parameters":[{"name":"api_endpoints","description":"","sensitive":false,"provided":false,"value":"[\n    \"age_ratings\",\n    \"age_rating_categories\",\n    \"age_rating_content_descriptions_v2\",\n    \"age_rating_content_description_types\",\n    \"age_rating_organizations\",\n    \"artworks\",\n    \"alternative_names\",\n    \"artwork_types\",\n    \"characters\",\n    \"character_genders\",\n    \"character_mug_shots\",\n    \"character_species\",\n    \"collections\",\n    \"collection_memberships\",\n    \"collection_membership_types\",\n    \"collection_relations\",\n    \"collection_relation_types\",\n    \"collection_types\",\n    \"companies\",\n    \"company_logos\",\n    \"company_statuses\",\n    \"company_websites\",\n    \"covers\",\n    \"date_formats\",\n    \"events\",\n    \"event_logos\",\n    \"event_networks\",\n    \"external_games\",\n    \"external_game_sources\",\n    \"franchises\",\n    \"games\",\n    \"game_engines\",\n    \"game_engine_logos\",\n    \"game_localizations\",\n    \"game_modes\",\n    \"game_release_formats\",\n    \"game_statuses\",\n    \"game_time_to_beats\",\n    \"game_types\",\n    \"game_versions\",\n    \"game_version_features\",\n    \"game_version_feature_values\",\n    \"game_videos\",\n    \"genres\",\n    \"involved_companies\",\n    \"keywords\",\n    \"languages\",\n    \"language_supports\",\n    \"language_support_types\",\n    \"multiplayer_modes\",\n    \"network_types\",\n    \"platforms\",\n    \"platform_families\",\n    \"platform_logos\",\n    \"platform_types\",\n    \"platform_versions\",\n    \"platform_version_companies\",\n    \"platform_version_release_dates\",\n    \"platform_websites\",\n    \"player_perspectives\",\n    \"popularity_primitives\",\n    \"popularity_types\",\n    \"regions\",\n    \"release_dates\",\n    \"release_date_regions\",\n    \"release_date_statuses\",\n    \"screenshots\",\n    \"search\",\n    \"themes\",\n    \"websites\",\n    \"website_types\"\n]"},{"name":"last_id","description":"","sensitive":false,"provided":false,"value":"0"},{"name":"common_endpoint","description":"","sensitive":false,"provided":false,"value":"https://api.igdb.com/v4"}],"inheritedParameterContexts":[],"description":"","componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}